html,
body {
  --color1: rgb(0, 0, 25);
  --color2: #00ceb8;
  --color3: midnightblue;
  --color4: #1a1c20;
  --sticky1: 0rem;
  --sticky2: 7rem;
  --sticky3: 14rem;
  --qb: #ff2a6d;
  --rb: #00ceb8;
  --wr: #58a7ff;
  --te: #ffae58;
  font-size: 1vmin;
  background-color: var(--color1);

  text-align: center;
  color: white;

  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu Mono', sans-serif;

  margin: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 25%;
  position: relative;
}

.App {
  height: 100%;
  width: 100%;
}