input[type='file'] {
    display: none;
}

label.upload {
    font-size: 3rem;
    display: inline;
    margin: 2rem;
    width: fit-content;
}

h1 {
    position: relative;
}


.hidden {
    display: none;
}


.tooltip_content {

    background-color: var(--color3);
    font-size: 3rem;
    width: 75rem;
    white-space: nowrap;
    position: absolute;
    z-index: 200;
    left: 50%;
    top: 5rem;
    transform: translate(-50%, 0);
    max-height: 50rem;
    font-family: 'Ubuntu Mono',
        sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    border: 2rem ridge var(--color2);
    box-shadow: 0 0 5rem var(--color2);
}

.tooltip_content table {
    table-layout: fixed;
}

.tooltip_content thead {
    position: sticky;
    top: 0;
    z-index: 101;
}

.tooltip_content table td,
.tooltip_content table th {
    box-shadow: inset 0 0 1rem black;
    text-shadow: 0 0 .25rem black, 0 0 .5rem black;
    padding: 1rem;
    height: 5rem;

    background-color: var(--color3);
}

span.icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        margin-right: 1rem;
    }

    p {
        width: fit-content;
    }

}

input.editRank {
    width: 12rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    background-image: radial-gradient(var(--color2) -500%, black 500%);
    filter: contrast(2);
    color: var(--color2);
    border: .5rem ridge silver;
    opacity: .75;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa-ban {
    color: red;
    position: absolute;
    font-size: 7rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}