div.modal {
  position: absolute;
  width: 100%;
  height: inherit;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  background-color: transparent;
}
div.modal div.modal-grid {
  width: 80rem;
  height: fit-content;
  max-height: 80rem;
  background-color: midnightblue;
  margin: auto;
  font-size: 3.5rem;
  position: relative;
  padding: 5rem;
  border-radius: 5rem;
  box-shadow: 0 0 3rem white, inset 0 0 10rem black;
  border: 2rem ridge var(--te);
  overflow: auto;
}
div.modal div.modal-grid button.close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: red;
  font-size: 3rem;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
div.modal div.modal-grid div.modal-grid-item {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-bottom: 5rem;
  white-space: nowrap;
}
div.modal div.modal-grid div.modal-grid-item input {
  background-color: var(--color2);
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}
div.modal div.modal-grid div.modal-grid-item div.modal-grid-content.header {
  grid-column: 1/span 3;
}
div.modal div.modal-grid div.modal-grid-item div.modal-grid-content input[type=number] {
  width: 7rem;
}
div.modal div.modal-grid div.modal-grid-item div.modal-grid-content.one {
  grid-column: 1/span 1;
}
div.modal div.modal-grid div.modal-grid-item div.modal-grid-content.two {
  grid-column: 2/span 1;
}
div.modal div.modal-grid div.modal-grid-item div.modal-grid-content.three {
  grid-column: 3/span 1;
}

span.team {
  display: inline-flex;
  vertical-align: top;
  width: fit-content;
  margin: 0 1rem;
}
span.team label {
  position: relative;
  width: fit-content;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.team label strong.draft-year {
  font-size: 5rem;
  position: relative;
  z-index: 0;
  color: var(--wr);
  filter: contrast(2);
  text-shadow: 0 0 1rem black;
}
span.team label img.icon {
  width: 7rem;
  height: 7rem;
}
span.team label i.icon {
  font-size: 7rem;
  text-shadow: 0 0 1rem black;
  color: silver;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}
span.team label select.hidden_behind {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 3.5rem;
  background-color: transparent;
  border: none;
  color: transparent;
  opacity: 0;
  margin: 0;
  width: 100%;
}
span.team label select.hidden_behind option {
  font-family: "Pulang", sans-serif;
  background-color: #9ca7b4;
  color: var(--color4);
  text-align: center;
  filter: contrast(2);
}
span.team label div.position_square1,
span.team label div.position_square2,
span.team label div.position_square3,
span.team label div.position_square4 {
  font-size: 2.5rem;
  display: flex;
  height: 7rem;
  width: 7rem;
  flex-wrap: wrap;
  border-radius: 1rem;
  overflow: hidden;
}
span.team label div.position_square1 div,
span.team label div.position_square2 div,
span.team label div.position_square3 div,
span.team label div.position_square4 div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-shadow: 0 0 0.5rem white;
  font-weight: 900;
  font-size: 3rem;
}
span.team label div.position_square1 div.qb,
span.team label div.position_square2 div.qb,
span.team label div.position_square3 div.qb,
span.team label div.position_square4 div.qb {
  background-color: var(--qb);
}
span.team label div.position_square1 div.wr,
span.team label div.position_square2 div.wr,
span.team label div.position_square3 div.wr,
span.team label div.position_square4 div.wr {
  background-color: var(--wr);
}
span.team label div.position_square1 div.te,
span.team label div.position_square2 div.te,
span.team label div.position_square3 div.te,
span.team label div.position_square4 div.te {
  background-color: var(--te);
}
span.team label div.position_square1 div.rb,
span.team label div.position_square2 div.rb,
span.team label div.position_square3 div.rb,
span.team label div.position_square4 div.rb {
  background-color: var(--rb);
}
span.team label div.position_square1 div.picks,
span.team label div.position_square2 div.picks,
span.team label div.position_square3 div.picks,
span.team label div.position_square4 div.picks {
  background-color: midnightblue;
  color: white;
  text-shadow: none;
}
span.team label div.position_square1 div {
  width: 100%;
}
span.team label div.position_square2 div {
  width: 50%;
}
span.team label div.position_square3 div {
  width: 33%;
}
span.team label div.position_square4 div {
  flex-basis: 50%;
}

div.relative {
  position: relative;
}

button.close {
  color: red;
  font-size: 3rem;
  font-weight: 900;
  background-color: transparent;
  border: none;
}

/*# sourceMappingURL=players.css.map */
